In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
import pandas as pd 
import numpy as np
from pandas import Series, DataFrame
from numpy import nan as NA
from datetime import datetime, date
from pandas.tseries.offsets import MonthEnd

In [4]:
report = pd.read_pickle('/Users/popov/Documents/Python/Pybursa/Web/report_pickle')
data = pd.read_pickle('/Users/popov/Documents/Python/Pybursa/Web/data_pickle')

In [8]:
offset = MonthEnd()
curr_month = report.index[-1].date()
prev_month = curr_month - offset

In [13]:
se = report.columns[:5]

In [7]:
report

,Yandex,Google,Go.mail.ru,BRY,CPC,order,basket,contact,measure
2016-01-31,3334,1157,512,114,847,6,160,367,16
2016-02-29,4471,1253,537,123,316,19,264,533,10
2016-03-31,5630,1683,597,88,543,22,217,571,20
2016-04-30,5946,1641,530,101,514,24,196,484,12
2016-05-31,5887,1470,479,69,228,21,243,485,27
2016-06-30,5913,1134,351,76,0,12,257,478,17
2016-07-31,5166,1108,364,58,0,15,213,396,20
2016-08-31,4689,1120,348,59,0,30,308,349,18
2016-09-30,4244,1071,302,53,0,6,238,321,15
2016-10-31,4153,1711,329,38,0,6,210,357,28
2016-11-30,3853,2491,304,46,0,14,224,436,21
2016-12-31,2781,2551,291,606,0,16,139,358,15
2017-01-31,2949,3084,375,511,0,4,243,355,8

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)
report[se].plot(ax=ax, kind='bar', stacked=True, alpha=0.5);
ax.legend = None;
ax.set_ylabel('Traffic');
ticks = ax.set_xticklabels(['{:%b %Y}'.format(x) for x in report.index]);

In [11]:
rep_diff = report.diff(periods=1) # разница от месяца к месяцу
rep_diff[curr_month:].astype(int)

,Yandex,Google,Go.mail.ru,BRY,CPC,order,basket,contact,measure
2017-01-31,168,533,84,-95,0,-12,104,-3,-7